@import "./config.scss";

// Pre-set styles for every element
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Body styles
body {
  width: 100vw;
  height: 300vh;

  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $colors_bg_lighter;
}

::-webkit-scrollbar-thumb {
  background: color-mix(in srgb, #fff 10%, $colors_bg_lighter);
}