$colors_accent_base: rgb(46, 204, 113);
$colors_accent_1: rgba($colors_accent_base, 10%);
$colors_accent_2: rgba($colors_accent_base, 20%);
$colors_accent_3: rgba($colors_accent_base, 30%);
$colors_accent_4: rgba($colors_accent_base, 40%);
$colors_accent_5: rgba($colors_accent_base, 50%);
$colors_accent_6: rgba($colors_accent_base, 60%);
$colors_accent_7: rgba($colors_accent_base, 70%);
$colors_accent_8: rgba($colors_accent_base, 80%);
$colors_accent_9: rgba($colors_accent_base, 90%);
$colors_accent: rgba($colors_accent_base, 100%);

$colors_gray_base: rgb(0, 0, 0);
$colors_gray_1: rgba($colors_gray_base, 10%);
$colors_gray_2: rgba($colors_gray_base, 20%);
$colors_gray_3: rgba($colors_gray_base, 30%);
$colors_gray_4: rgba($colors_gray_base, 40%);
$colors_gray_5: rgba($colors_gray_base, 50%);
$colors_gray_6: rgba($colors_gray_base, 60%);
$colors_gray_7: rgba($colors_gray_base, 70%);
$colors_gray_8: rgba($colors_gray_base, 80%);
$colors_gray_9: rgba($colors_gray_base, 90%);
$colors_gray: rgba($colors_gray_base, 100%);

$colors_blue_base: rgb(52, 152, 219);
$colors_blue_1: rgba($colors_blue_base, 10%);
$colors_blue_2: rgba($colors_blue_base, 20%);
$colors_blue_3: rgba($colors_blue_base, 30%);
$colors_blue_4: rgba($colors_blue_base, 40%);
$colors_blue_5: rgba($colors_blue_base, 50%);
$colors_blue_6: rgba($colors_blue_base, 60%);
$colors_blue_7: rgba($colors_blue_base, 70%);
$colors_blue_8: rgba($colors_blue_base, 80%);
$colors_blue_9: rgba($colors_blue_base, 90%);
$colors_blue: rgba($colors_blue_base, 100%);

$colors_yellow_base: rgb(241, 196, 15);
$colors_yellow_1: rgba($colors_yellow_base, 10%);
$colors_yellow_2: rgba($colors_yellow_base, 20%);
$colors_yellow_3: rgba($colors_yellow_base, 30%);
$colors_yellow_4: rgba($colors_yellow_base, 40%);
$colors_yellow_5: rgba($colors_yellow_base, 50%);
$colors_yellow_6: rgba($colors_yellow_base, 60%);
$colors_yellow_7: rgba($colors_yellow_base, 70%);
$colors_yellow_8: rgba($colors_yellow_base, 80%);
$colors_yellow_9: rgba($colors_yellow_base, 90%);
$colors_yellow: rgba($colors_yellow_base, 100%);

$colors_orange_base: rgb(230, 126, 34);
$colors_orange_1: rgba($colors_orange_base, 10%);
$colors_orange_2: rgba($colors_orange_base, 20%);
$colors_orange_3: rgba($colors_orange_base, 30%);
$colors_orange_4: rgba($colors_orange_base, 40%);
$colors_orange_5: rgba($colors_orange_base, 50%);
$colors_orange_6: rgba($colors_orange_base, 60%);
$colors_orange_7: rgba($colors_orange_base, 70%);
$colors_orange_8: rgba($colors_orange_base, 80%);
$colors_orange_9: rgba($colors_orange_base, 90%);
$colors_orange: rgba($colors_orange_base, 100%);

$colors_red_base: rgb(231, 76, 60);
$colors_red_1: rgba($colors_red_base, 10%);
$colors_red_2: rgba($colors_red_base, 20%);
$colors_red_3: rgba($colors_red_base, 30%);
$colors_red_4: rgba($colors_red_base, 40%);
$colors_red_5: rgba($colors_red_base, 50%);
$colors_red_6: rgba($colors_red_base, 60%);
$colors_red_7: rgba($colors_red_base, 70%);
$colors_red_8: rgba($colors_red_base, 80%);
$colors_red_9: rgba($colors_red_base, 90%);
$colors_red: rgba($colors_red_base, 100%);

$colors_white: #fff;
$colors_black: #000;

$colors_primary: rgb(239, 239, 239);